@import url('https://fonts.googleapis.com/css?family=Fresca');
* { 
	box-sizing: border-box;
	font-family: 'Fresca', sans-serif;
}
h1 {
	text-align: center;
}
.jokes {
	margin: 50px auto;
	text-align: center;
}